@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* global styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 48px;
  background: #ff42a5;
  border: 1px solid #ff42a5;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary:hover {
  color: #ff42a5;
  background-color: #fff;
}

/* header section  */

.navbar {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 26px 160px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  width: 75px;
}
.logo h2 {
  color: #0b0223;
  font-size: 40px;
  font-weight: 700;
  margin-left: 15px;
}
.logo span {
  color: #ff42a5;
}
.navbar ul {
  display: flex;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin-left: 25px;
}
.navbar ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.navbar ul li:hover a {
  color: #ff42a5;
}
.follow {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 16px 20px;
  cursor: pointer;
  color: #3c354f;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.follow:hover {
  transform: translateY(1px);
}
.follow a {
  display: inherit;
}
.follow img {
  width: 30px;
  margin-left: 20px;
}

/* header main  */

.header-main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 35px 160px;
  background-image: url(../images/main-bg.png);
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: top left;
  padding-bottom: 0;
}
.main-left {
  flex-basis: 40%;
}
.main-right {
  flex-basis: 50%;
}
.main-right img {
  width: 100%;
}
.main-left h2 {
  color: #0b0223;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-left h1 {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-left ul {
  list-style: none;
}
.main-left ul li {
  display: flex;
  align-items: center;
  color: #534c64;
  font-size: 18px;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 15px;
}
.main-left ul li img {
  margin-right: 10px;
}
.button-container {
  margin-top: 40px;
  align-items: center;
}
.blue-btn {
  background: #4ec5f7;
  border: 1px solid #4ec5f7;
  margin-left: 24px;
}
.blue-btn:hover {
  color: #4ec5f7;
}
/* main section  */
#main {
  max-width: 1440px;
  margin: 0 auto;
}

/* gamers section  */
.gamers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 160px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gamers-left {
  flex-basis: 55%;
}
.gamers-right {
  text-align: right;
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
}
.gamers-right h2 {
  text-align: right;
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamers-right p {
  color: #534c64;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 22px;
}
.gamers-right span {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 20px;
}
.gamers-right .btn-primary {
  margin-top: 30px;
}
.gamers-right strong {
  color: #534c64;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  white-space: nowrap;
}
.gamers-left img {
  width: 100%;
}

/* online section  */
.online {
  padding: 120px 160px;
  text-align: center;
}
.online .online-title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}
.online-title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-des {
  color: #534c64;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.online-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}
.online-box-container .box img {
  width: 100%;
  cursor: pointer;
}
.online-box-container .box {
  max-width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 1s;
}
.online-box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  width: 100%;
  height: 83%;
  opacity: 0;
  cursor: pointer;
}
.online-box-container .box:hover::before {
  opacity: 1;
}
.online-box-container .box:hover .hover-see {
  display: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 2s;
}
.box .hover-see {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.box .hover-see img {
  width: 40px;
}
.box .hover-see span {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.online-box-container .box p {
  width: 100%;
  color: #534c64;
  font-size: 14px;
  font-weight: 500;
  margin-top: 22px;
  text-align: left;
}
.online-box-container .box:nth-child(3) p {
  width: 75%;
}

/* play section  */
.play {
  padding: 0 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding-bottom: 190px;
}
.play-instant,
.play-anytime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-left h2 {
  font-size: 45px;
  font-weight: 700;
}
.play-left h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-left p {
  color: #534c64;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 22px;
}
.play-right .man {
  width: 100%;
}
.man-small {
  width: 230px;
  position: absolute;
  left: -120px;
  bottom: -50px;
}
.play-left {
  flex-basis: 35%;
  text-align: right;
}
.play-right {
  flex-basis: 45%;
  position: relative;
}
.play-anytime {
  flex-direction: row-reverse;
}
.play-anytime .play-left {
  flex-basis: 30%;
  text-align: left;
}
.play-anytime .play-right {
  flex-basis: 50%;
  position: relative;
}
.woman {
  width: 100%;
}
.woman-small {
  width: 250px;
  position: absolute;
  right: -120px;
  bottom: -95px;
}

/* all games section  */
.all-games {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 120px 160px;
}

.games-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px 20px;
}
.games-box {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #fff;
}
.games-box h4 {
  color: #0b0223;
  font-size: 15px;
  font-weight: 600;
  margin-left: 12px;
}
.games-box img {
  width: 40px;
}
.games-box:hover {
  border: 1px solid #ff42a5;
}
.games-box:hover h4 {
  color: #ff42a5;
}

/* footer section  */
/* footer section  */

#footer {
  max-width: 1440px;
  background: #0b0223;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
#footer .logo h2 {
  color: #fff;
}
.footer-container ul {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.footer-container ul li {
  list-style: none;
  margin-left: 50px;
  padding: 5px 10px;
}
.footer-container ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.1s;
}
.footer-container ul li:hover a {
  color: rgba(255, 255, 255, 0.6);
}
.footer-container .social-icons {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons img {
  padding: 10px 20px;
  cursor: pointer;
}
.social-icons img:hover {
  transform: scale(1.05);
}
.extra-link {
  margin-top: 60px;
}
.extra-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
  margin-left: 50px;
  padding: 5px 10px;
  transition: 0.1s;
}
.extra-link a:hover {
  color: #ffffffd8;
}
.copyright {
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 500;
}

/* --------- media query start --------- */
/* --------- media query start --------- */
/* --------- media query start --------- */

/* mobile device  */

@media screen and (max-width: 576px) {
  .nav-container,
  .navbar ul {
    padding: 50px 20px;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .logo img {
    width: 65px;
  }
  .logo h2 {
    font-size: 35px;
    margin-left: 10px;
  }
  .navbar {
    box-shadow: none;
  }
  .navbar ul li {
    margin-bottom: 30px;
  }
  .follow {
    padding: 12px 16px;
    font-size: 14px;
  }
  .header-main {
    flex-direction: column-reverse;
    padding: 30px;
    background-image: none;
  }
  .main-left {
    padding: 50px;
    background-image: url("../images/main-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
  }
  .main-right {
    padding: 25px;
  }
  .main-left h2 {
    font-size: 25px;
  }
  .main-left h1 {
    font-size: 50px;
  }
  .main-left ul li {
    font-size: 13px;
    margin-top: 8px;
  }
  .main-left ul li img {
    width: 20px;
  }
  .button-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 26px;
  }
  .btn-primary {
    font-size: 12px;
    padding: 12px 18px;
  }
  .blue-btn {
    margin-left: 10px;
  }
  .footer-container {
    padding: 70px;
  }
  .footer-container ul,
  .footer-container .social-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-container ul li {
    margin-left: 10px;
  }
  .social-icons img {
    width: 75px;
  }
  .copyright {
    font-size: 9px;
    width: 75%;
    text-align: center;
  }
  .footer-container ul li a {
    font-size: 12px;
  }
  .extra-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .extra-link a {
    margin-left: 0;
    font-size: 12px;
  }
  .footer-container .social-icons,
  .footer-container ul,
  .extra-link {
    margin-top: 45px;
  }
  .all-games {
    padding: 30px 10px;
    background: #fff;
  }
  .games-container {
    gap: 7px;
  }
  .games-box h4 {
    font-size: 8px;
    margin-left: 7px;
  }
  .games-box img {
    width: 22px;
  }
  .games-box {
    padding: 6px;
  }

  .gamers {
    flex-direction: column;
    padding: 30px 10px;
    background: #fff;
  }
  .gamers-right {
    text-align: center;
    align-items: center;
  }
  .gamers-right h2 {
    font-size: 28px;
    text-align: center;
  }
  .gamers-right p {
    font-size: 12px;
    line-height: 20px;
    width: 75%;
  }
  .gamers-right strong {
    font-size: 18px;
  }
  .gamers-right span {
    font-size: 16px;
    line-height: normal;
    margin-top: 30px;
  }

  .online {
    padding: 50px 10px;
  }
  .online-box-container {
    justify-content: center;
    gap: 10px;
  }
  .online-box-container .box::before {
    border-radius: 12px;
    height: 82.5%;
  }
  .online .online-title {
    font-size: 25px;
  }
  .online-des {
    font-size: 10px;
  }
  .online-box-container .box:nth-child(3) p {
    width: 100%;
  }
  .online-box-container .box p {
    font-size: 11px;
    text-align: center;
    margin-top: 16px;
  }

  .play{
    padding: 30px 10px;
    padding-bottom: 100px;
  }
.play-instant,
.play-anytime{
  flex-direction: column;
}
.play-left,
.play-anytime .play-left{
  text-align: center;
}
.play-right .man,
.play-right .woman {
  width: 63%;
}
.man-small,
.woman-small{
  width: 125px;
}
.play-right{
  text-align: center;
}
.man-small {
  left: 12px;
  bottom: -43px;
}
.woman-small {
  right: 5px;
  bottom: -59px;
}
.play-left h2 {
  font-size: 20px;
  width: 45%;
  margin: 0 auto;
}
.play-left p {
  font-size: 10px;
  line-height: 18px;
  width: 60%;
  margin: 22px auto;
}

}

@media screen and (min-width: 576px) and (max-width:768px) {

  .nav-container{
    padding: 35px 50px;
    flex-direction: column;
    gap: 30px;
  }
  .logo img{
    width: 70px;
  }
  .logo h2{
    font-size: 35px;
  }
  .follow{
    padding: 12px 16px
  }
  .header-main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .main-left h2 {
    font-size: 35px;
  }
  .main-left h1{
    font-size: 70px;
  }
  .main-left{
    padding: 20px;
  }
  .btn-primary {
    font-size: 14px;
    padding: 13px 26px;
  }
  .blue-btn{
    margin-left: 15px;
  }

  .gamers{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .gamers-right{
    text-align: center;
  }
  .gamers-right h2{
    text-align: center;
  }
  .play-instant,
  .play-anytime{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .online{
    padding: 30px 10px;
  }
.play{
  padding: 30px 10px;
}
.play-left{
  text-align: center;
}
.play-left h2{
  font-size: 38px;
  width: 85%;
  margin: 0 auto;
}
.play-left p{
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}
.play-anytime .play-left h2{
  width: 85%;
  text-align: center;
}
.play-anytime .play-left p{
  width: 85%;
 text-align: center;
}
.footer-container ul{
  flex-wrap: wrap;
}
.play-right .man{
  width: 70%;
} 
.woman{
  width: 70%;
}
.woman-small {
  width: 190px;
  right: 10px;
  bottom: -54px;
}
.play-right{
  text-align: center;
}
.man-small {
  width: 190px;
  position: absolute;
  left: 1px;
  bottom: -45px;
}
.online-box-container{
  justify-content: space-around;
}
.all-games{
  padding: 30px 10px;
  flex-wrap: wrap;
  margin: 50px auto;
}


}
